/*
===========
Reset
===========
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
===========
Common
===========
*/

body {
  font-family: 'Roboto', sans-serif;
}

/*
===========
Debug
===========
*/

.debug header {
  background-color: #ADD8E6;
}

.debug .header-top > * {
  background-color: #DAA520;
  border: 2px dashed;
}

.debug .header-bottom {
  background-color: #00008B;
  border-bottom: 4px solid #ADD8E6;
}

.debug .header-box {
  background-color: #EE82EE;
  border: 2px dashed;
  height: 400px;
}

/*
===========
Header top
===========
*/

.header-top {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 20px;
}

.header-top > * {
  padding: 10px;
}

header .logo,
header .login {
  width: 13%;
}

header .login {
  text-align: right;
}

header .link {
  width: 38%;
  text-align: center;
}

header ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

header li {
  padding: 0 5px;
}

/*
===========
Header bottom
===========
*/

.header-bottom {
  padding: 50px;
}

.header-box {
  width: 50%;
  margin: auto;
}